.countryDropdown{
   border-color: var(--color-border) !important;
   line-height: 16px !important;
   width: 10rem;
}
.countryDropdown .label{
    font-size: var(--extra-tiny-font-size);
    font-weight: var(--font-semi-bold);
    color: var( --color-text-lighter);
}

.countryDropdown .name{
    color: var(--color-primary);
    font-weight: var(--font-semi-bold);
    font-size: var(--small-font-size);
}
.icon{
    margin-left: var(--mb-0-5);
    color: var(--color-primary);
}